@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav mx-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item text-center">
        <a class="nav-link text-dark" style="height: 100%; display: flex; justify-content: center; align-items: center" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Tere, @User.Identity?.Name!</a>
    </li>
    <li class="nav-item text-center">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logi välja</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Registreeru</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Logi sisse</a>
    </li>
}
</ul>
