@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Genereeri taastamiskoodid";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Hoidke need koodid turvalises kohas.</strong>
    </p>
    <p>
        Kui kaotate oma seadme ja teil ei ole taastamiskoode, kaotate juurdepääsu oma kontole.
    </p>
    <p>
        Uute taastamiskoodide genereerimine ei muuda autentimisrakendustes kasutatavaid võtmeid. Kui soovite võtit muuta,
        peaksite <a asp-page="./ResetAuthenticator">lähtestama oma autentimisvõtmed</a>.
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Genereeri taastamiskoodid</button>
    </form>
</div>
