@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Isikuandmed";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Teie konto sisaldab isikuandmeid, mida olete meile andnud. Sellel lehel saate need andmed alla laadida või kustutada.</p>
        <p>
            <strong>Selliste andmete kustutamine eemaldab teie konto jäädavalt ja seda ei ole võimalik taastada.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Laadi alla</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Kustuta</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
