@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Lähtesta autentimisvõti";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
</p>
        <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Kui lähtestate oma autentimisvõtme, ei tööta teie autentimisrakendus enne, kui konfigurite selle uuesti.</strong>
    </p>
    <p>
        See protsess keelab 2FA kuni olete oma autentimisrakenduse kinnitanud.
        Kui te ei lõpeta autentimisrakenduse seadistamist, võite kaotada juurdepääsu oma kontole.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Lähtesta autentimisvõti</button>
    </form>
</div>
