@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Kahefaktoriline autentimine (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
                if (Model.RecoveryCodesLeft == 0)
                {
                <div class="alert alert-danger">
                    <strong>Teil ei ole enam taastamiskoode.</strong>
                    <p>Peate <a asp-page="./GenerateRecoveryCodes">genereerima uue komplekti taastamiskoode</a>, enne kui saate taastamiskoodiga sisse logida.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Teil on 1 taastamiskood alles.</strong>
                    <p>Saate <a asp-page="./GenerateRecoveryCodes">genereerida uue komplekti taastamiskoode</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Teil on @Model.RecoveryCodesLeft taastamiskoodi alles.</strong>
                    <p>Soovitame <a asp-page="./GenerateRecoveryCodes">genereerida uue komplekti taastamiskoode</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Unusta see brauser</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Keela 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Lähtesta taastamiskoodid</a>
        }

        <h4>Autentimisrakendus</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Lisa autentimisrakendus</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Seadista autentimisrakendus</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Lähtesta autentimisrakendus</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Privaatsus- ja küpsiste poliitikat ei ole aktsepteeritud.</strong>
            <p>Peate poliitika aktsepteerima, enne kui saate kahefaktorilise autentimise lubada.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
