@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registreeru";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Ühenda oma @Model.ProviderDisplayName konto.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Olete edukalt autentinud <strong>@Model.ProviderDisplayName</strong> kaudu. Sisestage selle saidi jaoks oma e-posti aadress allpool ja klõpsake registreerumiseks nuppu "Registreeru".
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Sisestage oma e-posti aadress."/>
                <label asp-for="Input.Email" class="form-label">E-post</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Registreeru</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
