@page
@model LockoutModel
@{
    ViewData["Title"] = "Konto lukustatud";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">See konto on ajutiselt lukustatud, proovige palun hiljem uuesti.</p>
</header>
