@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Taastamiskoodi kontrollimine";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>
    Olete taotlenud sisselogimist taastamiskoodiga. See sisselogimine ei jää meelde, kuni te sisselogimisel ei esita autentimisrakenduse koodi või ei keela kahefaktorilist autentimist.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="Taastamiskood" />
                <label asp-for="Input.RecoveryCode" class="form-label">Taastamiskood</label>
                <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Logi sisse</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}