@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registreerimise kinnitus";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Sellel rakendusel ei ole hetkel registreeritud tõelist e-posti saatjat; vaadake dokumentatsiooni, kuidas seadistada e-posti saatjat: <a href="https://aka.ms/aspaccountconf">dokumendid</a>.
    Tavaliselt saadetakse see e-kiri: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klõpsake siia, et kinnitada oma konto</a>
</p>
    }
    else
    {
<p>
        Palun kontrollige oma e-posti, et kinnitada oma konto.
</p>
    }
}

