@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Täname registreerimise eest";
}

<h1>@ViewData["Title"]</h1>
@{
    if (Model.DisplayConfirmAccountLink)
    {
<p>
    Palun kinnitage oma konto, klõpsates järgmisel lingil: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kinnita konto</a>
</p>
    }
    else
    {
<p>
        Palun kontrollige oma e-posti ja kinnitage oma konto.
</p>
    }
}

