@{
    ViewData["Title"] = Localizer["dashboard"];
}

<div class="text-center mb-4">
    <h1 class="display-4">@Localizer["welcome"]</h1>
    <p class="lead">@Localizer["available_courses"]</p>
</div>

<partial name="_StatusMessage" />

<partial name="_CoursesPartial" />
<hr class="my-4" />
<partial name="_TrainingsPartial" />

<div class="mt-3">
    <a class="btn btn-outline-primary" asp-controller="Dashboard" asp-action="Notify">Оповестить всех (имит.)</a>
</div>