
@{
    ViewData["Title"] = "Meiest";
}

<h1>@ViewData["Title"]</h1>
<p>Tere! Tere tulemast meie lehele.</p>
<p>Peofirma on usaldusväärne ettevõte, mis pakub kvaliteetseid teenuseid ja väärtustab kliente.</p>

