
@{
    ViewData["Title"] = "Kontakt";
}

<h1>@ViewData["Title"]</h1>
<p>
    Peofirma on usaldusväärne partner - võtke ühendust, et arutada teie vajadusi ja leida parim lahendus.<br>
    Võta meiega ühendust, ootame sinu sõnumit!
</p>
<p>
E-post: peofirma@peofirma.ee<br>
Telefon: +375 123 456 789<br>
Adress: Peo tänav 1, Tallinn, Eesti
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1485.4179755303605!2d24.704048018342704!3d59.412141603889125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2see!4v1757595747686!5m2!1sen!2see"
        width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>