@model PeodeApp.Models.Kylaline;

@{
    ViewData["Title"] = "Tanan";
}

<h1>Aitäh, @Model.Nimi</h1>

<hr />
<div class="row">
    <p>Sinu vastus on edukalt salvestatud</p>
    <p>Ootame/ei oota sind üritusel</p>
</div>

<div>
    <a asp-action="Index">Tagasi avelehele</a>
</div>